<!DOCTYPE html>

<html>
  <head>
    <% @css.each do |c| %>
    <link rel="stylesheet" href="<%= c %>">
    <% end %>
  </head>
  <body>
    <% @bookmarks.each do |b| %>
      <% if b == 'UL' then %>
        <ul>
      <% elsif b == '/UL' then %>
        </ul>
      <% elsif b[0] == "HEADING" %>
        <h<%= b[1] %>><%= b[2] %></h<%= b[1] %>>
      <% else %>
        <li><a href="<%= b[0] %>"><%= b[1] %></a></li>
      <% end %>
    <% end %>
    <% @js.each do |j| %>
    <script type="text/javascript" src="<%= j %>"></script>
    <% end %>
  </body>
</html
